<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <title>Education Data Dictionary</title>

  <script>
    $(document).ready(() => {
      // hide and show scrollbars dynamically
      $("body").css("overflow", "hidden"); // "auto"

      // waiting error messages
      const err = "<%= error %>"
      if (err.length > 0) {
        alert(err)
      }
    });
  </script>

</head>

<body id="main">

  <!------------------------------------------------------- Title ------------------------------------------------------->
  <h1>
    <%= title %>
  </h1>

  <hr class="line1">
  <br>

  <!------------------------------------------------------- Entity Class Path ------------------------------------------------------->
  <div id="nav-path" class="nav-path">
    <% for (const path of navPathCol) { %>
      <% for (const [i, seg] of path.entries()) { %>
        <span class="nav" onclick="
        $('#search-entity').val('<%= seg %>');
        $('#search-form').submit();">
          <%= seg %>
        </span>
        <% if (i < path.length-1) { %> <span> / </span>
          <% } %>
            <% } %>
              <br>
              <% } %>
  </div>

  <!------------------------------------------------------- Level 1 Field ------------------------------------------------------->
  <div id="nav-field">
    <span class="nav" onclick="scrollToTop('Entity')">Entity</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('Definition')">Definition</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('SIF')">SIF</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('OtherStandards')">OtherStandards</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('LegalDefinitions')">LegalDefinitions</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('Collections')">Collections</span>&nbsp;&nbsp;
    <span class="nav" onclick="scrollToTop('Metadata')">Metadata</span>&nbsp;&nbsp;
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------->
  <div id="container">

    <div id="leftThing">

      <form id="search-form" action="/search" method="post" onsubmit="check_form(this); return false">

        <!------------------------------------------------------- Search Input ------------------------------------------------------->
        <div id="search-div">
          <input id="search-entity" type="text" name="content" placeholder="Entity or Identifier"
            value="<%= search_value %>" style="padding: 5px 0px 5px 10px;">
          <input type="submit" value="go" style="padding: 5px 10px 5px 10px; font-size: 14px;">
        </div>

        <!------------------------------------------------------- Entity List ------------------------------------------------------->
        <ul class="entity-list">
          <% for(const entity of entities) { %>
            <li class="link" onclick="
                    $('#search-entity').val('<%= entity %>');
                    $('#search-form').submit();">
              <span>
                <%= entity %>
              </span>
            </li>
            <% } %>
        </ul>

      </form>

    </div>

    <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div id="content">

      <!------------------------------------------------------- Entity ------------------------------------------------------->
      <div class="block" id="Entity">
        Entity: <% if (content !=null) { %> &nbsp;&nbsp;<%=entity%>
            <% } %>
              <hr class="line2">
      </div>

      <!------------------------------------------------------- Definition ------------------------------------------------------->
      <div class="block" id="Definition">
        Definition:<% if (content !=null) { %>&nbsp;&nbsp;
          <span class="shortarray">
            <%- definition %>
          </span>
          <% } %>
            <hr class="line2">
      </div>

      <!------------------------------------------------------- SIF ------------------------------------------------------->
      <div class="block" id="SIF">
        SIF<% if (content !=null) { %>&nbsp;&nbsp;

          <% for(const [i, s] of sif.entries()) { %>

            <div>
              <p class="content"> <span class="field">XPath:&nbsp;&nbsp;</span>
                <% for(let xpath of s.XPath) { %>
                  <p class="subitem">
                    <%- xpath %>
                  </p>
                  <% } %>
              </p>
            </div>

            <p class="content"> <span class="field">Datestamp:&nbsp;&nbsp;</span>
              <%= s.Datestamp %>
            </p>

            <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
              <%- s.Definition %>
            </p>

            <div>
              <% if ( i < sif.length - 1 ) { %>
                <hr class="line3">
                <% } %>
            </div>

            <% } %>
              <% } %>
                <hr class="line2">
      </div>

      <!------------------------------------------------------- OtherStandards ------------------------------------------------------->
      <div class="block" id="OtherStandards">
        OtherStandards<% if (content !=null) { %>&nbsp;&nbsp;

          <% for(const [i, os] of otherStandards.entries()) { %>

            <p class="content"> <span class="field">Standard:&nbsp;&nbsp;</span>
              <%= os.Standard %>
            </p>

            <div>
              <p class="content"> <span class="field">Link:&nbsp;&nbsp;</span>
                <% for(const link of os.Link) { %>
                  <p class="subitem">
                    <%- link %>
                  </p>
                  <% } %>
              </p>
            </div>

            <div>
              <p class="content"> <span class="field">Path:&nbsp;&nbsp;</span>
                <% for(const path of os.Path) { %>
                  <p class="subitem">
                    <%= path %>
                  </p>
                  <% } %>
              </p>
            </div>

            <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
              <%= os.Definition %>
            </p>

            <p class="content"> <span class="field">Commentary:&nbsp;&nbsp;</span>
              <%- os.Commentary %>
            </p>

            <% if ( i < otherStandards.length - 1 ) { %>
              <hr class="line3">
              <% } %>

                <% } %>
                  <% } %>

                    <hr class="line2">
      </div>

      <!------------------------------------------------------- LegalDefinitions ------------------------------------------------------->
      <div class="block" id="LegalDefinitions">
        LegalDefinitions<% if (content !=null) { %>&nbsp;&nbsp;

          <% for(const [i, def] of legalDefinitions.entries()) { %>

            <p class="content"> <span class="field">LegislationName:&nbsp;&nbsp;</span>
              <%= def.LegislationName %>
            </p>

            <p class="content"> <span class="field">Citation:&nbsp;&nbsp;</span>
              <%= def.Citation %>
            </p>

            <p class="content"> <span class="field">Link:&nbsp;&nbsp;</span>
              <%- def.Link %>
            </p>

            <p class="content"> <span class="field">Datestamp:&nbsp;&nbsp;</span>
              <%= def.Datestamp %>
            </p>

            <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
              <%- def.Definition %>
            </p>

            <p class="content"> <span class="field">Commentary:&nbsp;&nbsp;</span>
              <%- def.Commentary %>
            </p>

            <% if ( i < legalDefinitions.length - 1 ) { %>
              <hr class="line3">
              <% } %>

                <% } %>
                  <% } %>

                    <hr class="line2">
      </div>

      <!------------------------------------------------------- Collections ------------------------------------------------------->
      <div class="block" id="Collections">
        Collections <% if (content !=null) { %>

          <% for(const [i, col] of collections.entries()) { %>

            <p class="content"> <span class="field">Name:&nbsp;&nbsp;</span>
              <%= col.Name %>
            </p>

            <p class="content"> <span class="field">Description:&nbsp;&nbsp;</span>
              <%= col.Description %>
            </p>

            <p class="content"> <span class="field">Standard:&nbsp;&nbsp;</span>
              <%= col.Standard %>
            </p>

            <p class="content"> <span class="field">DefinitionModification:&nbsp;&nbsp;</span>
              <%= col.DefinitionModification %>
            </p>

            <div>
              <p class="field"> Elements: </p>
              <% for (let ele of col.Elements) { %>
                <p class="subitem">
                  <%= ele %>
                </p>
                <% } %>
            </div>

            <div>
              <p class="field"> BusinessRules: </p>
              <% for( let rule of col.BusinessRules) { %>
                <p class="subitem">
                  <%= rule %>
                </p>
                <% } %>
            </div>

            <% if ( i < collections.length - 1 ) { %>
              <hr class="line3">
              <% } %>

                <% } %>
                  <% } %>

                    <hr class="line2">
      </div>

      <!------------------------------------------------------- Metadata ------------------------------------------------------->

      <div class="block" id="Metadata">
        Metadata

        <p>
          <span class="meta-item">Identifier:</span>
          <span>
            <%= identifier %>
          </span>
        </p>

        <p>
          <span class="meta-item">OtherNames:</span>
          <% for(const [i, on] of otherNames.entries()) { %>
            <span>
              <%= on %>
            </span>
            <% if (i < otherNames.length - 1) { %> &nbsp;|&nbsp; <% } } %>
        </p>

        <p>
          <span class="meta-item">Type:</span>
          <span>
            <%= type %>
          </span>
        </p>

        <p>
          <span class="meta-item">ExpectedAttributes:</span>
          <% for(const [i, attr] of expectedAttributes.entries()) { %>
            <span class="shortarray-link" onclick="$('#search-entity').val('<%= attr %>'); $('#search-form').submit();">
              <%= attr %>
            </span>
            <% if ( i < expectedAttributes.length - 1) { %> &nbsp;|&nbsp; <% } %>
                <% } %>
        </p>

        <p>
          <span class="meta-item">DefaultParent:</span>
          <span class="shortarray-link"
            onclick="$('#search-entity').val('<%= defParent %>'); $('#search-form').submit();">
            <%= defParent %>
          </span>
        </p>

        <p>
          <span class="meta-item">Superclass:</span>
          <% for(const [i, sc] of superclass.entries()) { %>
            <span class="shortarray-link" onclick="$('#search-entity').val('<%= sc %>'); $('#search-form').submit();">
              <%= sc %>
            </span>
            <% if ( i < superclass.length - 1) { %> &nbsp;|&nbsp; <% } %>
                <% } %>
        </p>

        <p>
          <span class="meta-item">CrossrefEntities:</span>
          <% for(const [i, crf] of crossrefEntities.entries()) { %>
            <span class="shortarray-link" onclick="$('#search-entity').val('<%= crf %>'); $('#search-form').submit();">
              <%= crf %>
            </span>
            <% if (i < crossrefEntities.length - 1) { %> &nbsp;|&nbsp; <% } %>
                <% } %>
        </p>

        <hr class="line2" style="margin-bottom: 40px;">
      </div>

      <!-- END -->

      <br> <br> <br>

    </div>

  </div>

  <script>
    const scrollToTop = (eleID) => {
      $('#' + eleID)[0].scrollIntoView(true)
      $('#main')[0].scrollTop = 0
    }

    const scrollToBottom = (eleID) => {
      $('#' + eleID)[0].scrollIntoView(false)
      $('#main')[0].scrollTop = 0
    }

    const check_form = async (form) => {

      let sv = $('#search-entity').val()

      if (!isNaN(sv)) {
        sv = String(sv).padStart(4, '0')
      }

      let api_list = [
        `http://localhost:3000/api/entity/${sv}`,
        `http://localhost:3000/api/identifier/${sv}`
      ]

      for (let api of api_list) {
        const resp = await fetch(
          api, {
          method: 'GET',
          mode: 'cors',
        }
        )
        const code = await resp.status
        if (code == 200) {
          form.submit()
          return
        }
      }

      alert(`Couldn't find ${sv}`)
    }
  </script>

</body>

</html>