<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Education Data Dictionary</title>

    <script>
        $(document).ready(() => {
            // hide and show scrollbars dynamically
            $("body").css("overflow", "hidden"); // "auto"

            // waiting error messages
            const err = "<%= error %>"
            if (err.length > 0) {
                alert(err)
            }
        }); 
    </script>

</head>

<body>

    <h1>
        <%= title %>
    </h1>

    <hr class="line1">
    <br>

    <div id="container">

        <!-- Entity List-->
        <div id="leftThing">

            <form id="search-form" action="/search" method="post">

                <div id="search-div">
                    <input id="search-entity" type="text" name="content" placeholder="Entity or Identifier"
                        value="<%= search_value %>" style="padding: 5px 0px 5px 10px;">
                    <input type="submit" value="go" style="padding: 5px 10px 5px 10px; font-size: 14px;">
                </div>

                <ul class="entity-list">
                    <% for(let i=0; i < entities.length; i++) { %>
                        <li class="link" onclick="
                    $('#search-entity').val('<%= entities[i] %>');
                    $('#search-form').submit();">
                            <span>
                                <%= entities[i] %>
                            </span>
                        </li>
                        <% } %>
                </ul>

            </form>

        </div>

        <!---------------------------------------------------------------------->

        <div id="content">

            <!-- Entity -->
            <div class="block">
                Entity: <% if (content !=null) { %>
                    &nbsp;&nbsp;<%=entity%>
                        <% } %>
                            <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- Collections -->
            <div class="block">
                Collections: <% if (content !=null) { %>
                    <% for(let i=0; i < collections.length; i++) { %>

                        <p class="content"> <span class="field">Name:&nbsp;&nbsp;</span>
                            <%= collections[i].Name %>
                        </p>

                        <p class="content"> <span class="field">Description:&nbsp;&nbsp;</span>
                            <%= collections[i].Description %>
                        </p>

                        <p class="content"> <span class="field">Standard:&nbsp;&nbsp;</span>
                            <%= collections[i].Standard %>
                        </p>

                        <p class="content"> <span class="field">DefinitionModification:&nbsp;&nbsp;</span>
                            <%= collections[i].DefinitionModification %>
                        </p>

                        <div>
                            <p class="field"> Elements: </p>
                            <% for(let j=0; j < collections[i].Elements.length; j++) { %>
                                <p class="subitem">
                                    <%= collections[i].Elements[j] %>
                                        <% } %>
                                </p>
                        </div>

                        <div>
                            <p class="field"> BusinessRules: </p>
                            <% for(let j=0; j < collections[i].BusinessRules.length; j++) { %>
                                <p class="subitem">
                                    <%= collections[i].BusinessRules[j] %>
                                        <% } %>
                                </p>
                        </div>

                        <div>
                            <% if ( i < collections.length - 1 ) { %>
                                <hr class="line3">
                                <% } %>
                        </div>

                        <% } %>
                            <% } %>

                                <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- CrossrefEntities -->
            <div class="block">
                CrossrefEntities:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < crossrefEntities.length; i++) { %>

                        <span class="shortarray-link" onclick="
                        $('#search-entity').val('<%= crossrefEntities[i] %>');
                        $('#search-form').submit();">
                            <%= crossrefEntities[i] %>
                        </span>

                        <% if ( i < crossrefEntities.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                <% } %>
                                    <% } %>

                                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- Definition -->
            <div class="block">
                Definition:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <span class="shortarray">
                        <%- definition %>
                    </span>
                    <% } %>
                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- ExpectedAttributes -->
            <div class="block">
                ExpectedAttributes:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < expectedAttributes.length; i++) { %>

                        <span class="shortarray-link" onclick="
                        $('#search-entity').val('<%= expectedAttributes[i] %>');
                        $('#search-form').submit();">
                            <%= expectedAttributes[i] %>
                        </span>

                        <% if ( i < expectedAttributes.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                <% } %>
                                    <% } %>
                                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- Identifier -->
            <div class="block">
                Identifier:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <span class="shortarray">
                        <%= identifier %>
                    </span>
                    <% } %>
                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- LegalDefinitions -->
            <div class="block">
                LegalDefinitions:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < legalDefinitions.length; i++) { %>

                        <p class="content"> <span class="field">LegislationName:&nbsp;&nbsp;</span>
                            <%= legalDefinitions[i].LegislationName %>
                        </p>

                        <p class="content"> <span class="field">Citation:&nbsp;&nbsp;</span>
                            <%= legalDefinitions[i].Citation %>
                        </p>

                        <p class="content"> <span class="field">Link:&nbsp;&nbsp;</span>
                            <%- legalDefinitions[i].Link %>
                        </p>

                        <p class="content"> <span class="field">Datestamp:&nbsp;&nbsp;</span>
                            <%= legalDefinitions[i].Datestamp %>
                        </p>

                        <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
                            <%- legalDefinitions[i].Definition %>
                        </p>

                        <p class="content"> <span class="field">Commentary:&nbsp;&nbsp;</span>
                            <%- legalDefinitions[i].Commentary %>
                        </p>

                        <div>
                            <% if ( i < legalDefinitions.length - 1 ) { %>
                                <hr class="line3">
                                <% } %>
                        </div>
                        <% } %>
                            <% } %>
                                <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- OtherNames -->
            <div class="block">
                OtherNames:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < otherNames.length; i++) { %>

                        <span class="shortarray">
                            <%= otherNames[i] %>
                        </span>

                        <% if ( i < otherNames.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                <% } %>
                                    <% } %>
                                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- OtherStandards -->
            <div class="block">
                OtherStandards:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < otherStandards.length; i++) { %>

                        <p class="content"> <span class="field">Standard:&nbsp;&nbsp;</span>
                            <%= otherStandards[i].Standard %>
                        </p>

                        <div>
                            <p class="content"> <span class="field">Link:&nbsp;&nbsp;</span>
                                <% for(let j=0; j < otherStandards[i].Link.length; j++) { %>
                                    <p class="subitem">
                                        <%- otherStandards[i].Link[j] %>
                                    </p>
                                    <% } %>
                            </p>
                        </div>

                        <div>
                            <p class="content"> <span class="field">Path:&nbsp;&nbsp;</span>
                                <% for(let j=0; j < otherStandards[i].Path.length; j++) { %>
                                    <p class="subitem">
                                        <%= otherStandards[i].Path[j] %>
                                    </p>
                                    <% } %>
                            </p>
                        </div>

                        <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
                            <%= otherStandards[i].Definition %>
                        </p>

                        <p class="content"> <span class="field">Commentary:&nbsp;&nbsp;</span>
                            <%- otherStandards[i].Commentary %>
                        </p>

                        <div>
                            <% if ( i < otherStandards.length - 1 ) { %>
                                <hr class="line3">
                                <% } %>
                        </div>

                        <% } %>
                            <% } %>
                                <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- SIF -->
            <div class="block">
                SIF:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < sif.length; i++) { %>

                        <div>
                            <p class="content"> <span class="field">XPath:&nbsp;&nbsp;</span>
                                <% for(let j=0; j < sif[i].XPath.length; j++) { %>
                                    <p class="subitem">
                                        <%- sif[i].XPath[j] %>
                                    </p>
                                    <% } %>
                            </p>
                        </div>

                        <p class="content"> <span class="field">Datestamp:&nbsp;&nbsp;</span>
                            <%= sif[i].Datestamp %>
                        </p>

                        <p class="content"> <span class="field">Definition:&nbsp;&nbsp;</span>
                            <%- sif[i].Definition %>
                        </p>

                        <div>
                            <% if ( i < sif.length - 1 ) { %>
                                <hr class="line3">
                                <% } %>
                        </div>

                        <% } %>
                            <% } %>
                                <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- Superclass -->
            <div class="block">
                Superclass:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <% for(let i=0; i < superclass.length; i++) { %>

                        <span class="shortarray-link" onclick="
                            $('#search-entity').val('<%= superclass[i] %>');
                            $('#search-form').submit();">
                            <%= superclass[i] %>
                        </span>

                        <% if ( i < superclass.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                <% } %>
                                    <% } %>
                                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- Type -->
            <div class="block">
                Type:<% if (content !=null) { %>
                    &nbsp;&nbsp;
                    <span class="shortarray">
                        <%= type %>
                    </span>
                    <% } %>
                        <hr class="line2">
            </div>

            <!---------------------------------------------------------------------->

            <!-- END -->

            <br> <br> <br>

        </div>

    </div>

</body>

</html>