<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <title>Education Data Dictionary</title>

  <script>
    $(document).ready(() => {
      // hide and show scrollbars dynamically
      $("body").css("overflow", "hidden"); // "auto"

      // waiting error messages
      const err = "<%= error %>"
      if (err.length > 0) {
        alert(err)
      }
    });
  </script>

</head>

<body id="main">

  <!------------------------------------------------------- Title ------------------------------------------------------->
  <h1>
    <%= title %>
  </h1>

  <hr class="line1">
  <br>

  <!------------------------------------------------------- Entity Class Path ------------------------------------------------------->
  <div id="nav-path" class="nav-path">
    <% for (const path of navPathCol) { %>
      <% for (const [i, seg] of path.entries()) { %>
        <span class="nav" onclick="
        $('#search-entity').val('<%= seg %>');
        $('#search-form').submit();">
          <%= seg %>
        </span>
        <% if (i < path.length-1) { %> <span> / </span>
          <% } %>
            <% } %>
              <br>
              <% } %>
  </div>

  <!------------------------------------------------------- Level 1 Field ------------------------------------------------------->
  <div id="nav-field">
    <span class="nav" onclick="scrollToTop('Entity')">Entity</span>&ensp;
    <span class="nav" onclick="scrollToTop('Definition')">Definition</span>&ensp;
    <span class="nav" onclick="scrollToTop('SIF')">SIF</span>&ensp;
    <span class="nav" onclick="scrollToTop('OtherStandards')">OtherStandards</span>&ensp;
    <span class="nav" onclick="scrollToTop('LegalDefinitions')">LegalDefinitions</span>&ensp;
    <span class="nav" onclick="scrollToTop('Collections')">Collections</span>&ensp;
    <span class="nav" onclick="scrollToTop('Metadata')">Metadata</span>&ensp;
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------->
  <div id="container">

    <div id="leftThing">

      <form id="search-form" action="/search" method="post" onsubmit="check_form(this); return false">

        <!------------------------------------------------------- Search Input ------------------------------------------------------->
        <div id="search-div">
          <input type="text" id="search-entity" name="content" placeholder="Entity or Identifier"
            value="<%= search_value %>" style="padding: 5px 0px 5px 10px;">
          <input type="submit" value="go" style="padding: 5px 10px 5px 10px; font-size: 14px;">
        </div>

        <!------------------------------------------------------- Entity List ------------------------------------------------------->
        <ul class="entity-list">
          <% for(const entity of entities) { %>
            <li class="link" onclick="
                    $('#search-entity').val('<%= entity %>');
                    $('#search-form').submit();">
              <span>
                <%= entity %>
              </span>
            </li>
            <% } %>
        </ul>

      </form>

    </div>

    <!---------------------------------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------------------------------->

    <div id="content">

      <!------------------------------------------------------- Entity ------------------------------------------------------->
      <div class="block" id="Entity">
        Entity: <% if (content !=null) { %>
          <p id="ent">
            <%=entity%>
          </p>
          <% } %>
            <hr class="line2">
      </div>

      <!------------------------------------------------------- Definition ------------------------------------------------------->
      <div class="block" id="Definition">
        Definition:<% if (content !=null) { %>
          <p id="def">
            <%- definition %>
          </p>
          <% } %>
            <hr class="line2">
      </div>

      <!------------------------------------------------------- SIF ------------------------------------------------------->
      <div class="block" id="SIF">
        SIF<% if (content !=null) { %>

          <% for(const [i, s] of sif.entries()) { %>

            <% if ('XPath' in s && s.XPath.length> 0) { %>
              <div>
                <p class="content"> <span class="field">XPath:</span>
                  <% for(let xpath of s.XPath) { %>
                    <p id="sif-xpath">
                      <%- xpath %>
                    </p>
                    <% } %>
                </p>
              </div>
              <% } %>

                <% if ('Definition' in s && s.Definition.length> 0) { %>
                  <p class="content"> <span class="field">Definition:</span>
                  <p id="sif-def">
                    <%= s.Definition %>
                  </p>
                  </p>
                  <% } %>

                    <% if ('Commentary' in s && s.Commentary.length> 0) { %>
                      <p class="content">
                        <span class="field">Commentary:</span>
                        <%- s.Commentary %>
                      </p>
                      <% } %>

                        <% if ('Datestamp' in s && s.Datestamp.length> 0) { %>
                          <p class="content"> <span class="field">Datestamp:</span>
                            <%= s.Datestamp %>
                          </p>
                          <% } %>

                            <div>
                              <% if ( i < sif.length - 1 ) { %>
                                <hr class="line3">
                                <% } %>
                            </div>

                            <% } %>
                              <% } %>
                                <hr class="line2">
      </div>

      <!------------------------------------------------------- OtherStandards ------------------------------------------------------->
      <div class="block" id="OtherStandards">
        OtherStandards<% if (content !=null) { %>

          <% for(const [i, os] of otherStandards.entries()) { %>

            <% if ('Standard' in os && os.Standard.length> 0) { %>
              <p class="content"> <span class="field">Standard:</span>
                <%= os.Standard %>
              </p>
              <% } %>

                <% if ('Link' in os && os.Link.length> 0) { %>
                  <div>
                    <p class="content"> <span class="field">Link:</span>
                      <% for(const link of os.Link) { %>
                        <p id="os-link">
                          <%- link %>
                        </p>
                        <% } %>
                    </p>
                  </div>
                  <% } %>

                    <% if ('Path' in os && os.Path.length> 0) { %>
                      <div>
                        <p class="content"> <span class="field">Path:</span>
                          <% for(const path of os.Path) { %>
                            <p id="os-path">
                              <%= path %>
                            </p>
                            <% } %>
                        </p>
                      </div>
                      <% } %>

                        <% if ('Definition' in os && os.Definition.length> 0) { %>
                          <p class="content"> <span class="field">Definition:</span>
                          <p id="os-def">
                            <%= os.Definition %>
                          </p>
                          </p>
                          <% } %>

                            <% if ('Commentary' in os && os.Commentary.length> 0) { %>
                              <p class="content"> <span class="field">Commentary:</span>
                              <p id="os-cmt">
                                <%- os.Commentary %>
                              </p>
                              </p>
                              <% } %>

                                <% if ('Datestamp' in os && os.Datestamp.length> 0) { %>
                                  <p class="content"> <span class="field">Datestamp:</span>
                                    <%= os.Datestamp %>
                                  </p>
                                  <% } %>

                                    <% if ( i < otherStandards.length - 1 ) { %>
                                      <hr class="line3">
                                      <% } %>

                                        <% } %>
                                          <% } %>

                                            <hr class="line2">
      </div>

      <!------------------------------------------------------- LegalDefinitions ------------------------------------------------------->
      <div class="block" id="LegalDefinitions">
        LegalDefinitions<% if (content !=null) { %>

          <% for(const [i, ld] of legalDefinitions.entries()) { %>

            <% if ('LegislationName'in ld && ld.LegislationName.length>0) { %>
              <p class="content"> <span class="field">LegislationName:</span>
                <%= ld.LegislationName %>
              </p>
              <% } %>

                <% if ('Citation' in ld && ld.Citation.length>0) { %>
                  <p class="content"> <span class="field">Citation:</span>
                    <%= ld.Citation %>
                  </p>
                  <% } %>

                    <% if ('Link' in ld && ld.Link.length>0) { %>
                      <p class="content"> <span class="field">Link:</span>
                        <%- ld.Link %>
                      </p>
                      <% } %>

                        <% if ('Definition' in ld && ld.Definition.length>0) { %>
                          <p class="content"> <span class="field">Definition:</span>
                          <p id="ld-def-wrap">
                            <%- ld.Definition %>
                          </p>
                          </p>
                          <% } %>

                            <% if ('Commentary' in ld && ld.Commentary.length>0) { %>
                              <p class="content"> <span class="field">Commentary:</span>
                                <%- ld.Commentary %>
                              </p>
                              <% } %>

                                <% if ('Datestamp' in ld && ld.Datestamp.length>0) { %>
                                  <p class="content"> <span class="field">Datestamp:</span>
                                    <%= ld.Datestamp %>
                                  </p>
                                  <% } %>

                                    <% if ( i < legalDefinitions.length - 1 ) { %>
                                      <hr class="line3">
                                      <% } %>

                                        <% } %>
                                          <% } %>

                                            <hr class="line2">
      </div>

      <!------------------------------------------------------- Collections ------------------------------------------------------->
      <div class="block" id="Collections">
        Collections <% if (content !=null) { %>

          <% for(const [i, col] of collections.entries()) { %>

            <% if ('Name' in col && col.Name.length> 0) { %>
              <p class="content"> <span class="field">Name:</span>
                <%= col.Name %>
              </p>
              <% } %>

                <% if ('Description' in col && col.Description.length>0) { %>
                  <p class="content"> <span class="field">Description:</span>
                    <%= col.Description %>
                  </p>
                  <% } %>

                    <% if ('BusinessRules' in col && col.BusinessRules.length>0) { %>
                      <div>
                        <p class="content"> <span class="field">BusinessRules:</span>
                          <% for( let rule of col.BusinessRules) { %>
                            <p id="col-buss">
                              <%= rule %>
                            </p>
                            <% } %>
                        </p>
                      </div>
                      <% } %>

                        <% if ('Standard' in col && col.Standard.length>0) { %>
                          <p class="content"> <span class="field">Standard:</span>
                            <%= col.Standard %>
                          </p>
                          <% } %>

                            <% if ('Elements' in col && col.Elements.length>0) { %>
                              <div>
                                <p class="content"> <span class="field">Elements:</span>
                                  <% for (let ele of col.Elements) { %>
                                    <p id="col-ele">
                                      <%= ele %>
                                    </p>
                                    <% } %>
                                </p>
                              </div>
                              <% } %>

                                <% if ('DefinitionModification' in col && col.DefinitionModification.length>0) { %>
                                  <p class="content"> <span class="field">DefinitionModification:</span>
                                  <p id="col-dm">
                                    <%= col.DefinitionModification %>
                                  </p>
                                  </p>
                                  <% } %>

                                    <% if ( i < collections.length - 1 ) { %>
                                      <hr class="line3">
                                      <% } %>

                                        <% } %>
                                          <% } %>

                                            <hr class="line2">
      </div>

      <!------------------------------------------------------- Metadata ------------------------------------------------------->

      <div class="block" id="Metadata">
        Metadata

        <% if (identifier.length>0) { %>
          <p>
            <span class="meta-item">Identifier:</span>
            <span>
              <%= identifier %>
            </span>
          </p>
          <% } %>

            <% if (otherNames.length>0) { %>
              <p>
                <span class="meta-item">OtherNames:</span>
                <% for(const [i, on] of otherNames.entries()) { %>
                  <span>
                    <%= on %>
                  </span>
                  <% if (i < otherNames.length - 1) { %> &nbsp;|&nbsp; <% } } %>
              </p>
              <% } %>

                <% if (type.length>0) { %>
                  <p>
                    <span class="meta-item">Type:</span>
                    <span>
                      <%= type %>
                    </span>
                  </p>
                  <% } %>

                    <% if (expectedAttributes.length>0) { %>
                      <p>
                        <span class="meta-item">ExpectedAttributes:</span>
                        <% for(const [i, attr] of expectedAttributes.entries()) { %>
                          <span class="shortarray-link"
                            onclick="$('#search-entity').val('<%= attr %>'); $('#search-form').submit();">
                            <%= attr %>
                          </span>
                          <% if ( i < expectedAttributes.length - 1) { %> &nbsp;|&nbsp; <% } %>
                              <% } %>
                      </p>
                      <% } %>

                        <% if (defParent.length>0) { %>
                          <p>
                            <span class="meta-item">DefaultParent:</span>
                            <span class="shortarray-link"
                              onclick="$('#search-entity').val('<%= defParent %>'); $('#search-form').submit();">
                              <%= defParent %>
                            </span>
                          </p>
                          <% } %>

                            <% if (superclass.length>0) { %>
                              <p>
                                <span class="meta-item">Superclass:</span>
                                <% for(const [i, sc] of superclass.entries()) { %>
                                  <span class="shortarray-link"
                                    onclick="$('#search-entity').val('<%= sc %>'); $('#search-form').submit();">
                                    <%= sc %>
                                  </span>
                                  <% if ( i < superclass.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                      <% } %>
                              </p>
                              <% } %>

                                <% if (crossrefEntities.length>0) { %>
                                  <p>
                                    <span class="meta-item">CrossrefEntities:</span>
                                    <% for(const [i, crf] of crossrefEntities.entries()) { %>
                                      <span class="shortarray-link"
                                        onclick="$('#search-entity').val('<%= crf %>'); $('#search-form').submit();">
                                        <%= crf %>
                                      </span>
                                      <% if (i < crossrefEntities.length - 1) { %> &nbsp;|&nbsp; <% } %>
                                          <% } %>
                                  </p>
                                  <% } %>

                                    <hr class="line2" style="margin-bottom: 40px;">
      </div>

      <!-- END -->

      <br> <br> <br>

    </div>

  </div>

  <script>

    const scrollToTop = (eleID) => {
      $('#' + eleID)[0].scrollIntoView(true)
      $('#main')[0].scrollTop = 0
    }

    const scrollToBottom = (eleID) => {
      $('#' + eleID)[0].scrollIntoView(false)
      $('#main')[0].scrollTop = 0
    }

    const check_form = async (form) => {

      let sv = $('#search-entity').val()

      if (!isNaN(sv)) {
        sv = String(sv).padStart(4, '0')
      }

      let api_list = [
        `http://localhost:3000/api/entity/${sv}`,
        `http://localhost:3000/api/identifier/${sv}`
      ]

      for (let api of api_list) {
        const resp = await fetch(
          api, {
          method: 'GET',
          mode: 'cors',
        }
        )
        const code = await resp.status
        if (code == 200) {
          form.submit()
          return
        }
      }

      alert(`Couldn't find ${sv}`)
    }

  </script>

</body>

</html>